* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrap {
  height: 100%;
  display: flex;
  background-color: burlywood;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
}

.red {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.red p {
  /* text-align: center; */
}

.red img {
  width: 50%;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
