* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 1% 0;
}

h2 {
  text-align: center;
}
.header {
  height: 40%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block-img {
  height: 60%;
  display: flex;
  justify-content: space-evenly;
}

.header-block {
  width: 30%;
  display: flex;
  justify-content: center;
}

.header-block img {
  width: 40%;
}

.actors-wrapper {
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.actors-block {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actors-block img {
  height: 50%;
}

.text-wrapper h3,
p {
  background: lightgrey;
}
